<div *ngIf="appointments.length; else elseTemplate">
    <!-- Content to display when condition is true -->
    <div *ngFor="let item of appointments">
        <p>{{item.appointmentId}}</p>
        <p>{{item.description}}</p>
        <p>{{item.date}}</p>
    </div>
  </div>
  
  <ng-template #elseTemplate>
    <!-- Content to display when condition is false -->
    <p>No appointments found</p>
  </ng-template>


<input type="text" [(ngModel)]="componentName">
<input type="text" [value]="componentName">
<button (click)="AddAppointment()">Add Appointment</button>
<hr>

<button type="button" class="btn btn-primary">
    Notifications <span class="badge text-bg-secondary">4</span>
  </button>
<br>

<br>
  <div class="hstack gap-3">
    <input class="form-control me-auto" type="text" placeholder="Add your item here..." aria-label="Add your item here...">
    <button type="button" class="btn btn-secondary">Submit</button>
    <div class="vr"></div>
    <button type="button" class="btn btn-outline-danger">
        <i class="fa-solid fa-leaf"></i>Reset</button>
  </div>
  <hr>
  <button type="submit">
    <i class="fa-solid fa-arrow-right" title="Next Page"></i>
  </button>